.container-edit-form{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.container-btn{
    display:  flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 30%;
}